body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (max-width: 450px) {
    body p {
        font-size: 21px;
    }
    
    h1, h2 {
        font-size: 20px;
        text-align: center;
    }

    body p {
        line-height: 30px;
    }

    img {
        margin: 12px 0;
    }

    figcaption {
        text-align: center;
    }

    body {
        margin: 22px;
    }
}