.pokemon-card{
  align-items: center;
  box-shadow: 2px 5px 5px black;
  background-color: rgb(160, 145, 145);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 405px;
  justify-content: center;
  margin: 20px;
  width: 305px;    
}

hr {
  border-color: black; 
  width: 90%;
}

a {
    color: red;
    /* text-decoration: none; */
}