main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.question-container {
  border: 2px solid black;
  color: red;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
}

.lecture-insights {
  background-color: seagreen;
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
}

.answer {
  color: black;
}

.check {
  background-color: green;
  border: 2px solid black;
  color: white;
}