h1 { 
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
    font-family: fantasy;
}

.centralizar {
    text-align: center;
}

.font {
    font-family: sans-serif;
    text-decoration: underline;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#maroon {
    background-color: maroon;
}